<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {{test}}

    {{ form_start(article_form_add) }}
    {{ form_widget(article_form_add) }}
    {{ form_end(article_form_add) }}

</body>
</html>